.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: grey;
  cursor: pointer;
}
.headerOption:hover {
  color: black;
}
.headerOption__title {
  font-size: 13px;
  font-weight: 450;
}
.headerOption__icon {
  object-fit: contain;
  height: 30px !important;
  width: 30px !important;
}
